
@font-face {
    font-family: "Hanna";
    font-weight: normal;
    src: url("../assets/font/BMHANNAPro.ttf") format("truetype");
}
@font-face {
    font-family: "SUIT";
    font-weight: normal;
    src: url("../assets/font/SUIT-Variable.ttf") format("truetype");
}
:root {
    --global_width_size: 1320px;
    --content_width_size: calc(var(--global_width_size) - 610px - 30px - 30px);
    background: #ffffff;
}

::selection{
    background-color: #e47171;
}

/* 스크롤바 전체 */
::-webkit-scrollbar {
    width: 0px;         /* 세로 스크롤 너비 */
    height: 8px;        /* 가로 스크롤 높이 */
}

/* 스크롤바 막대 */
::-webkit-scrollbar-thumb {
    background-color: #f0f0f0;  /* 스크롤바 색 */
    border-radius: 4px;
}

/* 스크롤바 트랙(배경) */
::-webkit-scrollbar-track {
    background-color: #f0f0f0;  /* 트랙 배경색 */
    border-radius: 4px;
}
